html,
body {
  margin: 0;
  padding: 0;
  color: #fff;
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.card--title {
  margin: 0;
  padding: 8px 4px;
  border: 1px solid #333;
  border-radius: 3px 3px 0 0;
}

form {
  padding: 12px;
}
